<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VanOudeDingen">

        <activity
            android:name="com.google.android.browserhelper.trusted.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="vanoudedingen-bca6c.web.app"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.support.customtabs.trusted.DEFAULT_URL"
            android:value="https://vanoudedingen-bca6c.web.app" />
        <meta-data
            android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR"
            android:value="#2C1A0E" />
        <meta-data
            android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR"
            android:value="#2C1A0E" />
        <meta-data
            android:name="android.support.customtabs.trusted.SPLASH_IMAGE_DRAWABLE"
            android:value="@drawable/ic_launcher_background" />

    </application>

</manifest>
